/* Headers */
h1.title {
  font-family: Garamond;
  font-weight: bold;
  font-size: 30pt;
}


h1 {
  font-family: Garamond;
  font-weight: bold;
  font-size: 20pt;
}

/* Whole document: */
body {
  font-family: Garamond;
  font-size: 14pt;
}
